@charset "UTF-8";

@main-light-colour: #6ed59a;
@main-transparent-background: rgba(166, 255, 204, 0.4); //for hover backgrounds

@secondary-light-colour: #2b8ef3;

@faded-p-colour: #757575;

body
{
    margin: 0;
    background-color: #171d1e;
    color: #1b1b1b;
    font-family: "Roboto";
    font-size: 0;
}

h1,h2,p
{
    margin: 0;
}

a
{
    text-decoration: none;
}

//for p-like things. small text with a slightly large line spacing.
.p-shared()
{
    font-size: 14px;
    line-height: 1.75;
}

//main outside wrap
.content-holder
{
    width: 90%;
    max-width: 1300px;
    margin: 50px auto 100px auto;
    background-color: white;
    border-radius: 5px;
    padding: 70px 0 70px 0;
    overflow: hidden;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.14);

    h1
    {
        width: 1020px;
        margin: auto;
        font-size: 34px;
        font-weight: 300;
        padding-bottom: 20px;
    }
}

/*-- top box stuff --*/
.top-box
{
    padding-bottom: 0;

    &.expanded
    {
        padding-bottom: 70px;

        .resume-bar
        {
            display: block;
        }

        .seperator
        {
            .show-label
            {
                opacity: 1;
            }

            .button-cross
            {
                transform: rotate(45deg);
            }
        }
    }
}

//title bar
.title-bar
{
    text-align: center;

    h2
    {
        display: inline-block;
        font-size: 45px;
        font-weight: 300;
    }

    span
    {
        color: @main-light-colour;
        font-size: 20px;
        font-weight: 300;
        padding: 0 10px 0 10px;
        border-right: 1px solid @main-light-colour;

        &:first-of-type
        {
            padding-left: 20px;
        }

        &:last-of-type
        {
            border-right: none;
        }
    }
}

//for divs in the top box that divide in half evenly.
//adds the padding in the middle and aligns the text.
.top-box-div-splits()
{
    .div-split-left()
    {
        display: inline-block;
        width: 50%;
        text-align: right;
        padding-right: 40px;
        box-sizing: border-box;
    }

    .div-split-right()
    {
        display: inline-block;
        width: 50%;
        padding-left: 40px;
        box-sizing: border-box;
    }
}

//intro bar of top box
.intro-bar
{
    margin-top: 25px;

    &>div
    {
        min-height: 100px;
        vertical-align: top;
    }

    .links-box
    {
        color: @main-light-colour;
        font-size: 19px;
        font-family: "roboto slab";
        .top-box-div-splits.div-split-left();

        .git-button
        {
            display: inline-block;
            background-color: @main-light-colour;
            color:  white;
            font-size: 16px;
            border-radius: 6px;
            padding: 7px 24px 11px 24px;
            margin-top: 20px;
            transition: background-color .2s;

            &:hover
            {
                background-color: #84f7b5;
            }
        }
    }

    .text
    {
        .p-shared();
        .top-box-div-splits.div-split-right();
        width: 490px;
        line-height: 2.3;
        box-sizing: content-box;
    }
}

//resume information section
.resume-bar
{
    display: none;

    .resume-entry
    {
        margin: 15px 0 15px 0;

        h2
        {
            .top-box-div-splits.div-split-left();
            font-size: 20px;
            font-weight: 400;
        }

        .entry-info
        {
            .top-box-div-splits.div-split-right();
            vertical-align: top;

            p
            {
                .p-shared();
                color: @faded-p-colour;
            }

            .highlight
            {
                color: @secondary-light-colour;
            }
        }
    }
}

//top box seperator element
.seperator
{
    height: 100px;
    border-top: 1px dashed @faded-p-colour;
    margin-top: 55px;
    transition: background-color .2s;
    cursor: pointer;
    user-select: none;

    .button
    {
        width: 50px;
        height: 50px;
        background-color: @main-light-colour;
        border-radius: 100%;
        text-align: center;
        margin: auto;
        margin-top: -27px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
        transition: transform .2s,background-color .2s;

        .button-cross
        {
            transition: transform .2s;
            margin-top: 8px;
        }
    }

    .show-label
    {
        font-size: 16px;
        color: @main-light-colour;
        font-family: "roboto slab";
        text-align: center;
        margin-top: 17px;
        opacity: 0;
        transition: opacity .2s;
    }

    &:hover
    {
        background-color: @main-transparent-background;

        .show-label
        {
            opacity: 1;
        }

        .button
        {
            transform: translateY(-5px);
            background-color: #84f7b5;
        }
    }
}
/*-- top box end --*/

//entry centring
.entry-holder
{
    width: 1020px;
    margin: auto;
}

//main entry element
.entry
{
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin: 30px 0 30px 0;
    animation: fade-slide-in 1s forwards;

    &:nth-of-type(2n)
    {
        margin-left: 120px;
    }

    &>img
    {
        width: 100%;
    }

    h2
    {
        height: 23px;
        font-size: 19px;
        margin-top: 22px;
        font-weight: 400;

        span
        {
            padding-left: 5px;
        }

        img
        {
            height: 23px;
            vertical-align: top;
            padding: 0 3px 0 3px;
        }
    }

    p
    {
        .p-shared();
        margin-top: 16px;
        color: @faded-p-colour;
    }

    a
    {
        display: inline-block;
        font-family: "roboto slab";
        font-size: 14px;
        margin-top: 16px;
        margin: 16px 0 0 -6px;
        color: @main-light-colour;
        padding: 6px 8px 7px 8px;
        border-radius: 3px;
        transition: background-color .2s;

        &.unavailable
        {
            color: #d4d4d4;

            &:hover
            {
                background-color: transparent;
            }
        }

        &:hover
        {
            background-color: @main-transparent-background;
        }
    }
}

//for entry boxes
@keyframes fade-slide-in
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.spinny
{
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    animation: spin 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards,fade .5s 1s forwards;
}

//for spinnuuyiyuiyuityiuy
@keyframes spin
{
    from
    {
        transform: rotate(0);
    }

    to
    {
        transform: rotate(400deg);
    }
}

//for spinny
@keyframes fade
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}