@charset "UTF-8";
body {
  margin: 0;
  background-color: #171d1e;
  color: #1b1b1b;
  font-family: "Roboto";
  font-size: 0;
}
h1,
h2,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.content-holder {
  width: 90%;
  max-width: 1300px;
  margin: 50px auto 100px auto;
  background-color: white;
  border-radius: 5px;
  padding: 70px 0 70px 0;
  overflow: hidden;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.14);
}
.content-holder h1 {
  width: 1020px;
  margin: auto;
  font-size: 34px;
  font-weight: 300;
  padding-bottom: 20px;
}
/*-- top box stuff --*/
.top-box {
  padding-bottom: 0;
}
.top-box.expanded {
  padding-bottom: 70px;
}
.top-box.expanded .resume-bar {
  display: block;
}
.top-box.expanded .seperator .show-label {
  opacity: 1;
}
.top-box.expanded .seperator .button-cross {
  transform: rotate(45deg);
}
.title-bar {
  text-align: center;
}
.title-bar h2 {
  display: inline-block;
  font-size: 45px;
  font-weight: 300;
}
.title-bar span {
  color: #6ed59a;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px 0 10px;
  border-right: 1px solid #6ed59a;
}
.title-bar span:first-of-type {
  padding-left: 20px;
}
.title-bar span:last-of-type {
  border-right: none;
}
.intro-bar {
  margin-top: 25px;
}
.intro-bar > div {
  min-height: 100px;
  vertical-align: top;
}
.intro-bar .links-box {
  color: #6ed59a;
  font-size: 19px;
  font-family: "roboto slab";
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 40px;
  box-sizing: border-box;
}
.intro-bar .links-box .git-button {
  display: inline-block;
  background-color: #6ed59a;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  padding: 7px 20px 7px 24px;
  margin-top: 20px;
  transition: background-color 0.2s;
}
.intro-bar .links-box .git-button img {
  height: 22px;
  vertical-align: top;
}
.intro-bar .links-box .git-button:hover {
  background-color: #84f7b5;
}
.intro-bar .text {
  font-size: 14px;
  line-height: 1.75;
  display: inline-block;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  width: 490px;
  line-height: 2.3;
  box-sizing: content-box;
}
.resume-bar {
  display: none;
}
.resume-bar .resume-entry {
  margin: 15px 0 15px 0;
}
.resume-bar .resume-entry h2 {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
}
.resume-bar .resume-entry .entry-info {
  display: inline-block;
  width: 50%;
  padding-left: 40px;
  box-sizing: border-box;
  vertical-align: top;
}
.resume-bar .resume-entry .entry-info p {
  font-size: 14px;
  line-height: 1.75;
  color: #757575;
}
.resume-bar .resume-entry .entry-info .highlight {
  color: #2b8ef3;
}
.seperator {
  height: 100px;
  border-top: 1px dashed #757575;
  margin-top: 55px;
  transition: background-color 0.2s;
  cursor: pointer;
  user-select: none;
}
.seperator .button {
  width: 50px;
  height: 50px;
  background-color: #6ed59a;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  margin-top: -27px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background-color 0.2s;
}
.seperator .button .button-cross {
  transition: transform 0.2s;
  margin-top: 8px;
}
.seperator .show-label {
  font-size: 16px;
  color: #6ed59a;
  font-family: "roboto slab";
  text-align: center;
  margin-top: 17px;
  opacity: 0;
  transition: opacity 0.2s;
}
.seperator:hover {
  background-color: rgba(166, 255, 204, 0.4);
}
.seperator:hover .show-label {
  opacity: 1;
}
.seperator:hover .button {
  transform: translateY(-5px);
  background-color: #84f7b5;
}
/*-- top box end --*/
.entry-holder {
  width: 1020px;
  margin: auto;
}
.entry {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  margin: 30px 0 30px 0;
  animation: fade-slide-in 1s forwards;
}
.entry:nth-of-type(2n) {
  margin-left: 120px;
}
.entry > img {
  width: 100%;
}
.entry h2 {
  height: 23px;
  font-size: 19px;
  margin-top: 22px;
  font-weight: 400;
}
.entry h2 span {
  padding-left: 5px;
}
.entry h2 img {
  height: 23px;
  vertical-align: top;
  padding: 0 3px 0 3px;
}
.entry p {
  font-size: 14px;
  line-height: 1.75;
  margin-top: 16px;
  color: #757575;
}
.entry a {
  display: inline-block;
  font-family: "roboto slab";
  font-size: 14px;
  margin-top: 16px;
  margin: 16px 0 0 -6px;
  color: #6ed59a;
  padding: 6px 8px 7px 8px;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.entry a.unavailable {
  color: #d4d4d4;
}
.entry a.unavailable:hover {
  background-color: transparent;
}
.entry a:hover {
  background-color: rgba(166, 255, 204, 0.4);
}
@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.spinny {
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
  animation: spin 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards, fade 0.5s 1s forwards;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(400deg);
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
footer {
  background-color: black;
}
footer p {
  font-size: 14px;
  line-height: 1.75;
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
}
footer a {
  color: #6ed59a;
}
