@charset "UTF-8";
body {
  margin: 0;
  background-color: #05182b;
  color: #1b1b1b;
  font-family: "Roboto";
  font-size: 0;
}
h2,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.content-holder {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  max-width: 1300px;
  min-height: 500px;
  background-color: white;
  border-radius: 5px;
}
.entry-holder {
  width: 1020px;
  margin: auto;
}
.entry {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  margin: 30px 0 30px 0;
}
.entry:nth-of-type(2n) {
  margin-left: 120px;
}
.entry img {
  width: 100%;
}
.entry h2 {
  font-size: 19px;
  margin-top: 22px;
  font-weight: 400;
}
.entry p {
  font-size: 14px;
  margin-top: 16px;
  color: #757575;
  line-height: 1.75;
}
.entry a {
  display: inline-block;
  font-family: "roboto slab";
  font-size: 14px;
  margin-top: 16px;
  margin: 16px 0 0 -6px;
  color: #6ed59a;
  padding: 6px 8px 7px 8px;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.entry a:hover {
  background-color: rgba(166, 255, 204, 0.4);
}
